mixin positive-feature(settings)
  - let border = ""
  - if(settings) {
  -   settings.hasOwnProperty("border") ? border=`positive-feature_${settings.border}` : border=""
  - };
  div(class="positive-feature" class=border)
    block

mixin positive-feature__description(settings)
  - let text = ""
  - if(settings) {
  -   settings.hasOwnProperty("text") ? text=settings.text : text=""
  - };
  p.positive-feature__description=text

mixin positive-feature__img(settings)
  - let attr = ""
  - if (settings) {
  -   settings.hasOwnProperty("attr") ? attr=settings.attr : attr=""
  - };
  img(class="positive-feature__img")&attributes(attr)

mixin positive-feature__text(settings)
  - let descText = ""
  - let titleText = ""
  - if(settings) {
  -   settings.hasOwnProperty("descText") ? descText=settings.descText : descText=""
  -   settings.hasOwnProperty("titleText") ? titleText=settings.titleText : titleText=""
  - };
  .positive-feature__text-wrapper 
    +positive-feature__title({text: titleText})
    +positive-feature__description({text: descText})

mixin positive-feature__title(settings)
  - let text = ""
  - if(settings) {
  -   settings.hasOwnProperty("text") ? text=settings.text : text=""
  - };
  p.positive-feature__title=text