mixin slider(settings)
  div(class="slider")
    block

mixin slider__body(settings)
  - let jsClass = "";
  - settings.hasOwnProperty("jsClass") ? jsClass = settings.jsClass : jsClass = ""
  div(class=`slider__body ${jsClass}`)

mixin slider__description(settings)
  - let text = ""
  - if (settings) {
  -   settings.hasOwnProperty("text") ? text=settings.text : text=""
  - }
  p.slider__description=text

mixin slider__output(settings)
  - let jsClass = ""
  - settings.hasOwnProperty("jsClass") ? jsClass=settings.jsClass : jsClass=""
  output(class="slider__output" class=jsClass)

mixin slider__title(settings)
  .slider__title
    block

mixin slider__title-text(settings)
  .slider__title-text
    block