mixin button(settings)
  - let {
  -   attr: buttonAttr = {type: "button"},
  -   type: buttonType = "simple",
  -   text: buttonText= "For Change",
  -   jsClass: buttonJs = false,
  -   pagClass: buttonPagination = false,
  -   height: buttonHeight = false,
  -   hover: buttonHover = false,
  - } = settings
  - if(buttonHover) {
  -   buttonType === "border" ? buttonHover="button__border-mimic_hover" : buttonType=`${buttonType}-hover`
  - }
  - if(buttonType) buttonType = `button__control_type_${buttonType}`
  - if(buttonHeight) buttonHeight = `button__control_height_${buttonHeight}`
  if buttonType == "button__control_type_pagination"
    div(class="button button_type_pagination")
      button(class="button__control" class=buttonJs, class=buttonType, class=buttonPagination, class= buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
  else if buttonType == "button__control_type_big"
    div(class="button button_type_big")
      if buttonType == "button__control_type_border"
        div.button__border-mimic
          button(class="button__control"  class=jsClass, class=type, class=pagClass, class=height, value=text)&attributes(attr)= text
      else
        button(class="button__control" class=buttonJs, class=buttonType, class=buttonPagination, class= buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
  else
    div(class="button")
      if buttonType == "button__control_type_border"
        div(class="button__border-mimic", class=buttonHover)
          button(class="button__control"  class=buttonJs, class=buttonType, class=buttonPagination, class=buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
      else
        button(class="button__control" class=buttonJs, class=buttonType, class=buttonPagination, class= buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText