include __title/button__title.pug
include __description/button__description.pug

mixin button(settings)
  - let attr = ""
  - let type = ""
  - let text = ""
  - let jsClass = ""
  - if (settings) {
  -   settings.hasOwnProperty("attr") ? attr = settings.attr : attr=""
  -   settings.hasOwnProperty("text") ? text = settings.text : text=""
  -   settings.hasOwnProperty("jsClass") ? jsClass = settings.jsClass : jsClass=""
  -   settings.hasOwnProperty("type") ? type = `button_type_${settings.type}` : attr=""
  - }
  if settings.type == "border"
    div.button-border
      button(class="button"  class=jsClass, class=type, value=text)&attributes(attr)= text
  else
    button(class="button" class=jsClass, class=type, value=text)&attributes(attr)= text