mixin button(settings)
  - let {
  -   attr: buttonAttr = {type: "button"},
  -   type: buttonType = "regular",
  -   text: buttonText= "For Change",
  -   jsClass: buttonJs = false,
  -   paginationClass: buttonPagination = false,
  -   height: buttonHeight = false,
  -   hover: buttonHover = false,
  - } = settings
  - let borderHeight = false
  - if(buttonHover) {
  -   buttonType === "border" ? buttonHover="button__border-mimic_transparent" : buttonHover=`button__control_${buttonHover}`
  - }
  - if(buttonType) buttonType = `button__control_type_${buttonType}`
  - if(buttonHeight) {
  -   borderHeight = `button__border-mimic_size_${buttonHeight}`
  -   buttonType === "button__control_type_border" ? buttonHeight = `button__control_border_${buttonHeight}` : buttonHeight = `button__control_size_${buttonHeight}`
  - }
  if buttonType == "button__control_shape_circle"
    div(class="button button_shape_circle")
      button(class="button__control" class=buttonJs, class=buttonType, class=buttonPagination, class= buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
  else if buttonType == "button__control_type_confirm"
    div(class="button button_type_confirm")
      if buttonType == "button__control_type_border"
        div.button__border-mimic
          button(class="button__control"  class=buttonJs, class=buttonType, class=buttonPagination, class=buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
      else
        button(class="button__control" class=buttonJs, class=buttonType, class=buttonPagination, class= buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
  else
    div(class="button")
      if buttonType == "button__control_type_border"
        div(class="button__border-mimic", class=buttonHover, class=borderHeight)
          button(class="button__control"  class=buttonJs, class=buttonType, class=buttonPagination, class=buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText
      else
        button(class="button__control" class=buttonJs, class=buttonType, class=buttonHover, class=buttonPagination, class= buttonHeight, value=buttonText)&attributes(buttonAttr)= buttonText