mixin button(settings)
  - let attr = {type: "button"}
  - let type = "button__control_type_simple"
  - let text = "For Change"
  - let jsClass = ""
  - let pagClass = ""
  - let height = ""
  - let hover = ""
  - if (settings) {
  -   if(settings.hasOwnProperty("attr")) attr = settings.attr
  -   if(settings.hasOwnProperty("text")) text = settings.text
  -   if(settings.hasOwnProperty("height")) height = `button__control_height_${settings.height}`
  -   if(settings.hasOwnProperty("jsClass")) jsClass = settings.jsClass
  -   if(settings.hasOwnProperty("pagClass")) pagClass = settings.pagClass
  -   if(settings.hasOwnProperty("type")) type = `button__control_type_${settings.type}`
  -   if(settings.hasOwnProperty("hover") && settings.hover === true) {
  -     settings.type === "border" ? hover="button__border-mimic_hover"  : type=`${type}-hover`
  -   }
  - }
  if settings && settings.type == "pagination"
    div(class="button button_type_pagination")
      button(class="button__control" class=jsClass, class=type, class=pagClass, class= height, value=text)&attributes(attr)= text
  else if settings && settings.type == "big"
    div(class="button button_type_big")
      if type == "border"
        div.button__border-mimic
          button(class="button__control"  class=jsClass, class=type, class=pagClass, class=height, value=text)&attributes(attr)= text
      else
        button(class="button__control" class=jsClass, class=type, class=pagClass, class= height, value=text)&attributes(attr)= text
  else
    div(class="button")
      if settings.type == "border"
        div(class="button__border-mimic", class=hover)
          button(class="button__control"  class=jsClass, class=type, class=pagClass, class=height, value=text)&attributes(attr)= text
      else
        button(class="button__control" class=jsClass, class=type, class=pagClass, class= height, value=text)&attributes(attr)= text