mixin dropdown-date(hint, appointment, state)
  if state !=null
    div.dropdown-date-body
      h3.margin40.type-h3= appointment
      div
        label.type-simple-text.dropdown-date(class= state)= hint
          button.dropdown-date_button
  else if appointment != null
    div.dropdown-date-body 
      h3.margin40.type-h3= appointment
      div
        label.type-simple-text.dropdown-date= hint
          button.dropdown-date_button
  else
    div.dropdown-date-body
      div
        label.type-simple-text.dropdown-date= hint
          button.dropdown-date_button
