mixin dropdown-date-filter(hint, appointment, state)
  if state !=null
    div.dropdown-date-filter-body
      h3.margin40.type-h3= appointment
      div
        label.type-simple-text.dropdown-date-filter(class= state)= hint
  else if appointment != null
    div.dropdown-date-filter-body 
      h3.margin40.type-h3= appointment
      div
        label.type-simple-text.dropdown-date-filter= hint
  else
    div.dropdown-date-filter-body
      div
        label.type-simple-text.dropdown-date-filter= hint