mixin dropdown-guests-closed(hint, appointment, state)
  if state !=null
    div.dropdown-guests-body 
      h3.margin20.type-h3(class= state)= appointment
      div.dropdown-guests-field-body 
        label.type-simple-text.dropdown-quests= hint
          button.dropdown-date_button(type="button")
  else if appointment != null
    div.dropdown-guests-body 
      h3.margin20.type-h3= appointment
      div.dropdown-guests-field-body 
        label.type-simple-text.dropdown-quests= hint
          button.dropdown-date_button(type="button")
  else
    div.dropdown-guests-body 
      div.dropdown-guests-field-body 
        label.type-simple-text.dropdown-quests= hint
          button.dropdown-date_button(type="button")