mixin dropdown-date-filter(hint, appointment, state)
  if state !=null
    div.dropdown-date-filter-body
      h3.margin40.type-h3= appointment
      div.dropdown-date-filter-block
        label.type-simple-text.dropdown-date-filter(class= state)= hint
        button.dropdown-date_button
  else if appointment != null
    div.dropdown-date-filter-body 
      h3.margin40.type-h3= appointment
      div.dropdown-date-filter-block
        label.type-simple-text.dropdown-date-filter= hint
        button.dropdown-date_button
  else
    div.dropdown-date-filter-body
      div.dropdown-date-filter-block
        label.type-simple-text.dropdown-date-filter= hint
        button.dropdown-date_button