mixin textfield(hint, appointment, state, first, date)
  if date === true
    if first == 10
      div.text-field-body   
        h3.type-h3(class= state)= appointment
        input.text-field.type-simple-text(placeholder= hint type="date" class="text-fiel__dateFormat")
    else if state !=null
      div.text-field-body   
        h3.margin20.type-h3(class= state)= appointment
        input.text-field.type-simple-text(placeholder= hint type="date" class="text-fiel__dateFormat")
    else if appointment != null
      div.text-field-body  
        h3.margin20.type-h3= appointment
        input.text-field.type-simple-text(placeholder= hint type="date" class="text-fiel__dateFormat")
    else
      div.text-field-body  
        input.text-field.type-simple-text(placeholder= hint type="date" class="text-fiel__dateFormat")
  else 
    if first == 10
      div.text-field-body   
        h3.type-h3(class= state)= appointment
        input.text-field.type-simple-text(placeholder= hint type="text")
    else if state !=null
      div.text-field-body   
        h3.margin20.type-h3(class= state)= appointment
        input.text-field.type-simple-text(placeholder= hint type="text")
    else if appointment != null
      div.text-field-body  
        h3.margin20.type-h3= appointment
        input.text-field.type-simple-text(placeholder= hint type="text")
    else
      div.text-field-body  
        input.text-field.type-simple-text(placeholder= hint type="text")