mixin header_nav(lang, first, thecond, third, forth, fifth, sixth, border )
  if lang == 'en'
    if border == true
      td.header__login-form__nav-cell-1= first
      td.header__login-form__nav-cell-2= thecond
      td.header__login-form__nav-cell-3.header__login-form__nav-cell-tick= third
      td.header__login-form__nav-cell-4= forth
      td.header__login-form__nav-cell-5= fifth
      td.header__login-form__nav-cell-6= sixth
      td.header__login-form__nav-cell-7.header__login-form__nav-cell-border
    else if sixth == false
      td.header__login-form__nav-cell-1= first
      td.header__login-form__nav-cell-2= thecond
      td.header__login-form__nav-cell-3.header__login-form__nav-cell-tick= third
      td.header__login-form__nav-cell-4= forth
      td.header__login-form__nav-cell-5= fifth
    else
      td.header__login-form__nav-cell-1= first
      td.header__login-form__nav-cell-2= thecond
      td.header__login-form__nav-cell-3.header__login-form__nav-cell-tick= third
      td.header__login-form__nav-cell-4= forth
      td.header__login-form__nav-cell-5= fifth
      td.header__login-form__nav-cell-6= sixth
  else if lang == 'ru'
    td.header__login-form__nav-cell-1= first
      td.header__login-form__nav-cell-2.header__login-form__nav-cell-tick= thecond
      td.header__login-form__nav-cell-3= third
      td.header__login-form__nav-cell-4= forth
      td.header__login-form__nav-cell-5.header__login-form__nav-cell-tick= fifth