mixin header_nav(lang, first, thecond, third, forth, fifth, sixth, border )
  if lang == 'en'
    if border == true
      li.header__login-form__nav-cell-1
        a(href='/for-change')=first
      li.header__login-form__nav-cell-2
        a(href='/for-change')=thecond
      li.header__login-form__nav-cell-3.header__login-form__nav-cell-tick                                   
        a(href='/for-change')=third
      li.header__login-form__nav-cell-4
        a(href='/for-change')=forth
      li.header__login-form__nav-cell-5
        a(href='/for-change')=fifth
      li.header__login-form__nav-cell-6
        a(href='/for-change')=sixth
    else if sixth == false
      li.header__login-form__nav-cell-1
        a(href='/for-change')=first
      li.header__login-form__nav-cell-2
        a(href='/for-change')=thecond
      li.header__login-form__nav-cell-3.header__login-form__nav-cell-tick
        a(href='/for-change')=third
      li.header__login-form__nav-cell-4
        a(href='/for-change')=forth
      li.header__login-form__nav-cell-5
        a(href='/for-change')=fifth
    else
      li.header__login-form__nav-cell-1
        a(href='/for-change')=first
      li.header__login-form__nav-cell-2
        a(href='/for-change')=thecond
      li.header__login-form__nav-cell-3.header__login-form__nav-cell-tick
        a(href='/for-change')=third
      li.header__login-form__nav-cell-4
        a(href='/for-change')=forth
      li.header__login-form__nav-cell-5
        a(href='/for-change')=fifth
      li.header__login-form__nav-cell-6
        a(href='/for-change')=sixth
  else if lang == 'ru'
    li.header__login-form__nav-cell-1
      a(href='/for-change')=first
    li.header__login-form__nav-cell-2.header__login-form__nav-cell-tick
      a(href='/for-change')=thecond
    li.header__login-form__nav-cell-3
      a(href='/for-change')=third
    li.header__login-form__nav-cell-4
      a(href='/for-change')=forth
    li.header__login-form__nav-cell-5.header__login-form__nav-cell-tick
      a(href='/for-change')=fifth