div.reservation-form__order-information-line
  p.reservation-form__order-information__days-price.type-simple-text= '9 990₽ х 4 суток'
div.reservation-form__order-information-line
  p.reservation-form__order-information__services.type-simple-text= "Сбор за услуги: скидка 2 179₽"
  h3.type-h3.reservation-form__order-information__sign= "i"
div.reservation-form__order-information-line
  p.reservation-form__order-information__additional-services.type-simple-text= "Сбор за дополнительные услуги"
  h3.type-h3.reservation-form__order-information__sign= "i"  