mixin input(settings)
  - let title = {
  -  text: false,
  -  type: "",
  -  state: false
  - }
  - let input = {
  -   length: "input__field_length_l",
  -   type: "input__field_type_simple",
  -   attr: {placeholder: "For-change"},
  -   state: "",
  -   jsClass: ""
  - }
  - let wrapp = {
  -   type: ""
  - }
  - if (settings) {
  -   if (settings.title)  {
  -     if(settings.title.hasOwnProperty("text")) title.text = settings.title.text
  -     if(settings.title.hasOwnProperty("type")) title.type = `input__title-text_${settings.title.type}`
  -     if(settings.title.hasOwnProperty("state")) title.state = settings.title.state
  -   }
  -   if (settings.input)  {
  -     if(settings.input.hasOwnProperty("length")) input.length = `input__field_length_${settings.input.length}`
  -     if(settings.input.hasOwnProperty("type")) {
  -       input.type = `input__field_type_${settings.input.type}`
  -       if(settings.input.type === "dropdown" || settings.input.type === "submit") wrapp.type = `input__wrapper_type_${settings.input.type}`
  -     }
  -     if(settings.input.hasOwnProperty("state")) input.state = `input__field_${settings.input.state}`
  -     if(settings.input.hasOwnProperty("jsClass")) input.jsClass = settings.input.jsClass
  -     if(settings.input.hasOwnProperty("attr")) input.attr = settings.input.attr
  -   }
  - }
  .input
    if title.text
      .input__title
        div(class="input__title-text" class=title.type)
          +title({
            text: title.text
          })
        if title.state
          p.input__state=title.state
    if wrapp.type === "input__wrapper_type_dropdown" || wrapp.type === "input__wrapper_type_submit"
      label(class="input__wrapper" class=wrapp.type)
        input(class="input__field", class=input.length, class=input.type, class=input.state, class=input.jsClass)&attributes(input.attr)
        if wrapp.type === "submit"
          button(type="submit" class="input__submit-button")
    else
      input(class="input__field", class=input.length, class=input.type, class=input.state, class=input.jsClass)&attributes(input.attr)