mixin input(settings)
  - const { 
  -   title: {
  -     text = false,
  -     state: titleState = false
  -   },
  -   input: {
  -     attr = { placeholder: "For-change" },
  -     jsClass = false,
  -   }
  - } = settings
  - let { 
  -   title: {
  -     type: titleType = false,
  -   },
  -   input: {
  -     length = "long",
  -     type: inputType = "regular",
  -     state: inputState = false,
  -     border = false
  -   }
  - } = settings
  - let wrapperType = false
  - let wrapperLength = false
  - if (titleType) titleType = `input__title-text_${titleType}`
  - if (length) {
  -   wrapperLength = `input__wrapper_length_${length}`
  -   length = `input__field_length_${length}`
  - }
  - if (inputType === "dropdown" || inputType === "submit") wrapperType = inputType
  - if (inputType) inputType = `input__field_type_${inputType}`
  - if (inputState) inputState = `input__field_${inputState}`
  - if (border) border = `input__field_border_${border}`
  .input
    if text
      .input__title
        div(class="input__title-text" class=titleType)
          +title({
            text: text
          })
        if titleState
          p.input__state=titleState
    if wrapperType === "dropdown" || wrapperType === "submit"
      label(class=["input__wrapper", `input__wrapper_type_${wrapperType}`, wrapperLength])
        input(class=["input__field", length, inputType, inputState, jsClass])&attributes(attr)
        if wrapperType === "submit"
          button(class="input__submit-button" type="submit")
    else
      input(class=["input__field", length, inputType, border, inputState, jsClass])&attributes(attr)