mixin input(settings)
  - let { 
  -   title: {
  -     text: titleText = false,
  -     type: titleType = false,
  -     state: titleState = false
  -   },
  -   input: {
  -     length: inputLength = "l",
  -     type: inputType = "simple",
  -     attr: inputAttr = { placeholder: "For-change" },
  -     state: inputState = false,
  -     jsClass: inputJs = false
  -   },
  -   wrappType = false
  - } = settings
  - if (titleType) titleType = `input__title-text_${titleType}`
  - if (inputLength) inputLength = `input__field_length_${inputLength}`
  - if (inputType === "dropdown" || inputType === "submit") wrappType = inputType
  - if (inputType) inputType = `input__field_type_${inputType}`
  - if (inputState) inputState = `input__field_${inputState}`
  .input
    if titleText
      .input__title
        div(class="input__title-text" class=titleType)
          +title({
            text: titleText
          })
        if titleState
          p.input__state=titleState
    if wrappType === "dropdown" || wrappType === "submit"
      label(class="input__wrapper" class=`input__wrapper_type_${wrappType}`)
        input(class="input__field", class=inputLength, class=inputType, class=inputState, class=inputJs)&attributes(inputAttr)
        if wrappType === "submit"
          button(type="submit" class="input__submit-button")
    else
      input(class="input__field", class=inputLength, class=inputType, class=inputState, class=inputJs)&attributes(inputAttr)