mixin title(settings)
  - let {
  -   text = "For change",
  -   teg = "p",
  -   type = false,
  -   jsClass = false,
  -   for: targetClass = false
  - } = settings
  - if (type) type = `title_${type}`
  - if (targetClass) targetClass = `title_for-${targetClass}`
  #{teg}(class="title", class=type,  class=targetClass, class=jsClass)=text