mixin footers__big-footer__links-table(option)
  if option == 'en'
    ul.footers__big-footer__links-table
      li 
        h3.type-h3= 'navigation'
      li 
        a(href='/for-change').type-simple-text= 'About Us'
      li 
        a(href='/for-change').type-simple-text= 'News'
      li 
        a(href='/for-change').type-simple-text= 'Support'
      li 
        a(href='/for-change').type-simple-text= 'Products'
    ul.footers__big-footer__links-table
      li 
        h3.type-h3= 'About Us'
      li 
        a(href='/for-change').type-simple-text= 'Who we are'
      li 
        a(href='/for-change').type-simple-text= 'Our team'
      li 
        a(href='/for-change').type-simple-text= 'Careers'
      li 
        a(href='/for-change').type-simple-text= 'Investors'
    ul.footers__big-footer__links-table
      li 
        h3.type-h3= 'Support'
      li 
        a(href='/for-change').footers__big-footer__links-table__last.type-simple-text= 'Documentation'
      li 
        a(href='/for-change').footers__big-footer__links-table__last.type-simple-text= 'Community'
      li 
        a(href='/for-change').footers__big-footer__links-table__last.type-simple-text= 'Get in Touch'
  else if option == 'ru'
    ul.footers__big-footer__links-table
      li 
        h3.type-h3= 'Навигация'
      li 
        a(href='/for-change').type-simple-text= 'О нас'
      li 
        a(href='/for-change').type-simple-text= 'Новости'
      li 
        a(href='/for-change').type-simple-text= 'Служба поддержки'
      li 
        a(href='/for-change').type-simple-text= 'Услуги'
    ul.footers__big-footer__links-table
      li 
        h3.type-h3= 'О нас'
      li 
        a(href='/for-change').type-simple-text= 'О сервисе'
      li 
        a(href='/for-change').type-simple-text= 'Наша команда'
      li 
        a(href='/for-change').type-simple-text= 'Вакансии'
      li 
        a(href='/for-change').type-simple-text= 'Инвесторы'
    ul.footers__big-footer__links-table
      li 
        h3.type-h3= 'Служба поддержки'
      li 
        a(href='/for-change').footers__big-footer__links-table__last.type-simple-text= 'Соглашение'
      li 
        a(href='/for-change').footers__big-footer__links-table__last.type-simple-text= 'Сообщество'
      li 
        a(href='/for-change').footers__big-footer__links-table__last.type-simple-text= 'Связь с нами'