table.footers__big-footer__links-table
  tr
    th.type-h3= 'navigation'
    th.type-h3= 'about us'
    th.type-h3= 'support'
  tr.type-simple-text
    td= 'About Us'
    td= 'Who we are'
    td.footers__big-footer__links-table__last= 'Documentation'
  tr.type-simple-text
    td= 'News'
    td= 'Our team'
    td.footers__big-footer__links-table__last= 'Community'
  tr.type-simple-text
    td= 'Support'
    td= 'Careers'
    td.footers__big-footer__links-table__last= 'Get in Touch'
  tr.type-simple-text
    td= 'Products'
    td= 'Investors'
    