mixin footers__big-footer__links-table(option)
  if option == 'en'
    table.footers__big-footer__links-table
      tr
        th.type-h3= 'navigation'
        th.type-h3= 'about us'
        th.type-h3= 'support'
      tr.type-simple-text
        td= 'About Us'
        td= 'Who we are'
        td.footers__big-footer__links-table__last= 'Documentation'
      tr.type-simple-text
        td= 'News'
        td= 'Our team'
        td.footers__big-footer__links-table__last= 'Community'
      tr.type-simple-text
        td= 'Support'
        td= 'Careers'
        td.footers__big-footer__links-table__last= 'Get in Touch'
      tr.type-simple-text
        td= 'Products'
        td= 'Investors'
  else if option == 'ru'
    table.footers__big-footer__links-table
      tr
        th.type-h3= 'навигация'
        th.type-h3= 'О нас'
        th.type-h3= 'Служба поддержки'
      tr.type-simple-text
        td= 'О нас'
        td= 'О сервисе'
        td.footers__big-footer__links-table__last= 'Соглашения'
      tr.type-simple-text
        td= 'Новости'
        td= 'Наша команда'
        td.footers__big-footer__links-table__last= 'Сообщество'
      tr.type-simple-text
        td= 'Служба поддержки'
        td= 'Вакансии'
        td.footers__big-footer__links-table__last= 'Связь с нами'
      tr.type-simple-text
        td= 'Услуши'
        td= 'Инвесторы'