include ../like-button/like-button

mixin user-comment(settings)
  - const {
  -   title: {
  -     imgSrc = "for-change",
  -     userName = "Name",
  -     userAge = "Age"
  -   },
  -   main: {
  -     isLiked = false,
  -     likeCounter = "0",
  -     commentText = "Text for change"
  -   }
  - } = settings
  div.user-comment
    div.user-comment__title
      img(alt="Profile picture", src=require(`@images/${imgSrc}`).default).user-comment__avatar
      div.user-comment__info
        p.user-comment__name=userName
        p.user-comment__age=userAge
    div.user-comment__main
      div.user-comment__like
        +like-button({
          counter: likeCounter,
          isChecked: isLiked,
        })
      p.user-comment__text=commentText