mixin user-comment(settings)
  - const {
  -   title: {
  -     imgSrc = "for-change",
  -     userName = "Name",
  -     userAge = "Age"
  -   },
  -   main: {
  -     isLiked = false,
  -     likeCounter = "0",
  -     commentText = "Text for change"
  -   }
  - } = settings
  div.user-comment
    div.user-comment__title
      img(alt="Profile picture", src=require(`@images/${imgSrc}`).default).user-comment__avatar
      div.user-comment__info
        p.user-comment__name=userName
        p.user-comment__age=userAge
    div.user-comment__main
      div.user-comment__like
        +toggle({
          type: "like",
          attrs: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": isLiked
          },
          text: {
            text: likeCounter
          }
        })
      p.user-comment__text=commentText