div.dropdown-datepicker-body#dropdown-datepicker-body
  button.dropdown-datepicker__month-button#dropdown-datepicker__minus-button
  h2.type-h2#dropdown-datepicker__monce-year
  button.dropdown-datepicker__month-button#dropdown-datepicker__plus-button
  table.dropdown-datepicker__datepicker-body
    tr.dropdown-datepicker__datepicker-line
      td.dropdown-datepicker__datepicker_week-days= "Пн"
      td.dropdown-datepicker__datepicker_week-days= "Вт"
      td.dropdown-datepicker__datepicker_week-days= "Ср"
      td.dropdown-datepicker__datepicker_week-days= "Чт"
      td.dropdown-datepicker__datepicker_week-days= "Пт"
      td.dropdown-datepicker__datepicker_week-days= "Сб"
      td.dropdown-datepicker__datepicker_week-days= "Вс"
    tr.dropdown-datepicker__datepicker-line-1
    tr.dropdown-datepicker__datepicker-line-2
    tr.dropdown-datepicker__datepicker-line-3
    tr.dropdown-datepicker__datepicker-line-4
    tr.dropdown-datepicker__datepicker-line-5