include ../button/button.pug

mixin datepicker(settings)
  - let mainJsClass = ""
  - let attr = ""
  - let size = ""
  - if (settings) {
  -   settings.hasOwnProperty("jsClass") ? mainJsClass = settings.jsClass : mainJsClass = ""
  -   settings.hasOwnProperty("size") ? size = `datepicker_size_${settings.size}` : size = ""
  -   settings.hasOwnProperty("attr") ? attr = settings.attr : attr = ""
  - }
  div(class="datepicker" class=size class=mainJsClass)&attributes(attr)
    button(class="datepicker__scroll-button datepicker__scroll-button_left js-datepicker__scroll-button_left" type="button")
    p(class="datepicker__selected-month js-datepicker__selected-month")
    button(class="datepicker__scroll-button datepicker__scroll-button_right js-datepicker__scroll-button_right" type="button")
    table(class="calendar js-calendar")
      tr(class="calendar__line")
        th(class="calendar__cell calendar__week-day")= "Пн"
        th(class="calendar__cell calendar__week-day")= "Вт"
        th(class="calendar__cell calendar__week-day")= "Ср"
        th(class="calendar__cell calendar__week-day")= "Чт"
        th(class="calendar__cell calendar__week-day")= "Пт"
        th(class="calendar__cell calendar__week-day")= "Сб"
        th(class="calendar__cell calendar__week-day")= "Вс"
      tr(class="calendar__line js-calendar__line_num_1")
      tr(class="calendar__line js-calendar__line_num_2")
      tr(class="calendar__line js-calendar__line_num_3")
      tr(class="calendar__line js-calendar__line_num_4")
      tr(class="calendar__line js-calendar__line_num_5")
      tr(class="calendar__line js-calendar__line_num_6")
    .datepicker__confirmation-buttons
      +button({
        type: "text",
        text: "очистить",
        attr: {
          "type": "button",
          "class": "datepicker__clear-button js-datepicker__clear-button"
        }
      })
      +button({
        type: "text",
        text: "применить",
        attr: {
          "type": "button",
          "class": "datepicker__apply-button js-datepicker__apply-button"
        }
      })
    