include ../button/button.pug

mixin datepicker(settings)
  - const {
  -   input: {
  -     from = false,
  -     to = false,
  -     total = false
  -   },
  -   main: {
  -     jsClass = "js-for-change",
  -     dataYear = false,
  -     dataMonth = false,
  -     dataCurrentDay = false,
  -     dataFrom = false,
  -     dataTo = false,
  -   },
  -   attr = false,
  - } = settings
  - const days = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
  - let { size = false } = settings
  - let wrapperSize = false
  - if(size) {
  -   wrapperSize = `datepicker__calendar-wrapper_size_${size}`
  -   size = `datepicker_size_${size}`
  - }
  div(class=["datepicker", size, jsClass] data-year=dataYear, data-month=dataMonth, data-day=dataCurrentDay, data-from=dataFrom, data-to=dataTo)
    if total || (from && to) 
      .datepicker__inputs 
        if total
          +input(total)
        else if from && to 
          .datepicker__from
            +input(from)
          .datepicker__to
            +input(to)
    div(class=["datepicker__calendar-wrapper", wrapperSize])&attributes(attr)
      button(class=["datepicker__scroll-button", "datepicker__scroll-button_arrow_back", "js-datepicker__scroll-button_arrow_back"] type="button")
      if settings.size === "small"
        p(class=["datepicker__selected-month", "datepicker__selected-month_size_small", "js-datepicker__selected-month"])
      else 
        p(class=["datepicker__selected-month", "js-datepicker__selected-month"])
      button(class=["datepicker__scroll-button", "datepicker__scroll-button_arrow_forward", "js-datepicker__scroll-button_arrow_forward"] type="button")
      table(class=["datepicker__calendar", "js-datepicker__calendar"])
        tr(class="datepicker__calendar-line")
            each day in days
              - let dayType = false
              - if (settings.size === "small") dayType = "datepicker__calendar-cell_size_small"
              th(class=["datepicker__calendar-cell", "datepicker__calendar-cell_font_bold", dayType])= day
        - let i = 0;
        while (i++ < 6)
          tr(class=["datepicker__calendar-line", "js-datepicker__calendar-line"])
      .datepicker__confirmation-buttons
        .datepicker__clear-button
          +button({
            type: "text",
            text: "очистить",
            attr: {
              "type": "button",
              "class": "js-datepicker__clear-button"
            }
          })
        .datepicker__apply-button
          +button({
            type: "text",
            text: "применить",
            attr: {
              "type": "button",
              "class": "js-datepicker__apply-button"
            }
          })
      