include ../social-media-link/social-media-link.pug

mixin footer(settings)
  - const {
  -   description: {
  -     text: descriptionText = false
  -   },
  -   lists = [
  -     [
  -       {"text": "For change"}, 
  -     ],
  -     [
  -       {"text": "For change"}, 
  -     ],
  -     [
  -       {"text": "For change"}, 
  -     ]
  -   ],
  -   links = [
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     }
  -   ],
  -   subscribe: {
  -     title = "For change",
  -     text: subscribeText = "For change",
  -     action = "./for-change"
  -   },
  -   copyright: { text: copyrightText = "For change" }
  - } = settings
  - let { footer: { size = false } } = settings
  - let wrapperSize = false
  - if(size) {
  -   wrapperSize = `footer__wrapper_size_${size}`
  -   size = `footer_size_${size}`
  - }
  div(class=["footer", size])
    div(class=["footer__wrapper", wrapperSize])
      div(class="footer__description")
        +logo({
          src: "img/logo-color.svg"
        })
        if descriptionText
          p(class="footer__logo-description")=descriptionText
      if size === "footer_size_small"
        div(class=["footer__social-media", "footer__social-media_size_small"])
          p(class="footer__small-copyright")= copyrightText
          +social-media-link({
            socialLinks: links
          })
      else
        .footer__navigation-wrapper
          each list in lists
            .footer__navigation
              each link in list
                - const {
                -   text: linkText,
                -   href = "./for-change",
                -   teg = "a",
                - } = link
                - let { linkType = "navigation-link" } = link
                - linkType = `footer__${linkType}`
                #{teg}(class=linkType href=href)= linkText
        .footer__subscribe
          p.footer__title=title
          p.footer__subscribe-text=subscribeText
          form(class="footer__subscribe-form" action=action)
            +input({
              title: false,
              input: {
                attr: {
                  type: "email",
                  placeholder: "Email"
                },
                length: "adaptive",
                type: "submit"
              }
            })