include ../social-media-link/social-media-link.pug

mixin footer(settings)
  - let {
  -   footer: {
  -     size: footerSize = false
  -   },
  -   description: {
  -     text: descriptionText = false
  -   },
  -   lists = [
  -     [
  -       {"text": "For change"}, 
  -       {"text": "For change"},
  -       {"text": "For change"}
  -     ],
  -     [
  -       {"text": "For change"}, 
  -       {"text": "For change"},
  -       {"text": "For change"}
  -     ],
  -     [
  -       {"text": "For change"}, 
  -       {"text": "For change"},
  -       {"text": "For change"}
  -     ]
  -   ],
  -   links = [
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     },
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     },
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     }
  -   ],
  -   subscribe: {
  -     title: subscribeTitle = "For change",
  -     text: subscribeText = "For change",
  -     action: subscribeAction = "./for-change"
  -   },
  -   copyright: { text: copyrightText = "For change" }
  - } = settings
  - let wrapperSize = false
  - if(footerSize) {
  -   wrapperSize = `footer__wrapper_size_${footerSize}`
  -   footerSize = `footer_size_${footerSize}`
  - }
  div(class="footer" class=footerSize)
    div(class="footer__wrapper" class=wrapperSize)
      div(class="footer__description")
        +logo({
          src: "img/logo-color.svg"
        })
        if descriptionText
          p(class="footer__text")=descriptionText
      if footerSize !== "footer_size_small"
        .footer__nav-wrapper
          each list in lists
            .footer__nav
              each link in list
                - let {
                -   text: linkText,
                -   href: linkHref = "./for-change",
                -   title: linkTitle = false
                - } = link
                if linkTitle 
                  span(class="footer__link-title")= linkTitle
                else 
                  a(class="footer__nav-link" href=linkHref)= linkText
        .footer__subscribe
          p.footer__title=subscribeTitle
          p.footer__text=subscribeText 
          form(class="footer__subscribe-form" action=subscribeAction)
            +input({
              title: false,
              input: {
                attr: {
                  type: "email",
                  placeholder: "Email"
                },
                length: "average",
                type: "submit"
              }
            })
      else
        div(class="footer__social-media footer__social-media_size_small")
          p(class="footer__small-copyright")= copyrightText
          +social-media-link({
            socialLinks: links
          })