include ../social-media-link/social-media-link.pug

mixin footer(settings)
  - const {
  -   descriptionText = "",
  -   lists = [
  -     [ {"text": "For change"}, ],
  -     [ {"text": "For change"}, ],
  -     [ {"text": "For change"}, ]
  -   ],
  -   links = [
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     }
  -   ],
  -   subscribe: {
  -     title: subscribeTitle = "For change",
  -     text: subscribeText = "For change",
  -     action: subscribeAction = "./for-change",
  -   },
  -   copyrightText = "For change"
  - } = settings
  - let { footerSize = "" } = settings
  - let footerSizeClass = ""
  - let wrapperSizeClass = ""
  - if (footerSize) {
  -   wrapperSizeClass = `footer__wrapper_size_${footerSize}`
  -   footerSizeClass = `footer_size_${footerSize}`
  - }
  div(class=["footer", footerSizeClass])
    div(class=["footer__wrapper", wrapperSizeClass])
      div(class="footer__description")
        +logo({
          imgSrc: "../img/logo-color.svg"
        })
        if descriptionText
          p(class="footer__logo-description")=descriptionText
      if footerSize === "small"
        div(class=["footer__social-media", "footer__social-media_size_small"])
          p(class="footer__small-copyright")= copyrightText
          +social-media-link({
            socialLinks: links
          })
      else
        .footer__navigation-wrapper
          each list in lists
            .footer__navigation
              each link in list
                - const {
                -   text: linkText,
                -   href = "./for-change",
                -   teg = "a",
                - } = link
                - let { linkType = "navigation-link" } = link
                - linkType = `footer__${linkType}`
                #{teg}(class=linkType href=href)= linkText
        .footer__subscribe
          p.footer__title= subscribeTitle
          p.footer__subscribe-text=subscribeText
          form(class="footer__subscribe-form" action= subscribeAction)
            +input({
              title: {},
              input: {
                attr: {
                  type: "email",
                  placeholder: "Email"
                },
                length: "adaptive",
                type: "submit"
              }
            })