include ../social-media-link/social-media-link.pug

mixin footer(settings)
  - let footer = {
  -   type: "",
  -   wrappType: ""
  - }
  - let description = {
  -   text: false
  - }
  - let lists = [
  -   [
  -     {"text": "For change"}, 
  -     {"text": "For change"},
  -     {"text": "For change"}
  -   ],
  -   [
  -     {"text": "For change"}, 
  -     {"text": "For change"},
  -     {"text": "For change"}
  -   ],
  -   [
  -     {"text": "For change"}, 
  -     {"text": "For change"},
  -     {"text": "For change"}
  -   ]
  - ]
  - let links = [
  -   {
  -     "name": "For change",
  -     "iconSrc": "img/for-change.svg"
  -   },
  -   {
  -     "name": "For change",
  -     "iconSrc": "img/for-change.svg"
  -   },
  -   {
  -     "name": "For change",
  -     "iconSrc": "img/for-change.svg"
  -   }
  - ]
  - let subscribe = {
  -   title: "For change",
  -   text: "For change",
  -   action: "./for-change"
  - }
  - let copyright = { text: "For change" }
  - if (settings) {
  -   if(settings.footer) {
  -     if(settings.footer.hasOwnProperty("type")) {
  -       footer.type = `footer_type_${settings.footer.type}`
  -       footer.wrappType = `footer__wrapper_${settings.footer.type}`
  -     }
  -   }
  -   if(settings.description && settings.description.hasOwnProperty("text")) description.text = settings.description.text
  -   if(settings.hasOwnProperty("lists")) lists = settings.lists
  -   if(settings.subscribe) {
  -     if(settings.subscribe.hasOwnProperty("title")) subscribe.title = settings.subscribe.title
  -     if(settings.subscribe.hasOwnProperty("text")) subscribe.text = settings.subscribe.text
  -     if(settings.subscribe.hasOwnProperty("action")) subscribe.action = settings.subscribe.action
  -   }
  -   if(settings.links) links = settings.links
  -   if(settings.copyright && settings.copyright.text) copyright.text = settings.copyright.text
  - }
  div(class="footer" class=footer.type)
    div(class="footer__wrapper" class=footer.wrappType)
      div(class="footer__description")
        +logo({
          src: "img/logo-color.svg"
        })
        if(description.text)
          p(class="footer__text")=description.text
      if footer.type !== "footer_type_small"
        .footer__nav-wrapper
          each list in lists
            .footer__nav
              each link in list
                - let text = ""
                - let href = "./for-change"
                - let title = false
                - if (link) {
                -   if(link.hasOwnProperty("text")) text = link.text
                -   if(link.hasOwnProperty("href")) href = link.href
                -   if(link.hasOwnProperty("title")) title = link.title
                - }
                if title 
                  span(class="footer__link-title")= title
                else 
                  if title 
                  a(class="footer__nav-link" href=href)= text
        .footer__subscribe
          p.footer__title=subscribe.title
          p.footer__text=subscribe.text 
          form(class="footer__subscribe-form" action=subscribe.action)
            +input({
              input: {
                attr: {
                  type: "email",
                  placeholder: "Email"
                },
                length: "m",
                type: "submit"
              }
            })
      else
        div(class="footer__social-media footer__social-media_small")
          p(class="footer__small-copyright")= copyright.text
          +social-media-link({
            socialLinks: links
          })