mixin dropdown(settings)
  - let {
  -   inputSettings = {
  -     length: "average",
  -     type: "regular",
  -     attr: {placeholder: "For-change"},
  -     state: "",
  -     jsClass: "js-for-change"  
  -   },
  -   control: {
  -     jsClass: controlJs = "js-for-change",
  -     attr: controlAttr = false,
  -     z: controlZIndex = false,
  -   },
  -   lists = [
  -     {text: "For Change", dataTarget: "forChange1", output: "0", minusTransparent: false, plusTransparent: false},
  -     {text: "For Change", dataTarget: "forChange2", output: "0", minusTransparent: false, plusTransparent: false},
  -     {text: "For Change", dataTarget: "forChange3", output: "0", minusTransparent: false, plusTransparent: false}
  -   ],
  -   clearHidden = true,
  -   main: {
  -     jsClass: mainJsClass = false,
  -     dataType: mainDataType = false,
  -     outputType: mainOutputType = false
  -   }
  - } = settings
  - if (controlZIndex) controlZIndex = `dropdown__control_z-index_${controlZIndex}`
  - if (lists) {
  -   lists.forEach(function(list) {
  -     if(list.output == "0") list.minusTransparent = true
  -     if(list.output == "10") list.plusTransparent = true
  -     if(list.output > "0") clearHidden = false
  -   })
  - }
  div(class="dropdown" class=mainJsClass, data-template=mainDataType, data-output=mainOutputType)
    div.dropdown__input
      +input(inputSettings)
    div(class="dropdown__control" class=controlJs, class=controlZIndex)&attributes(controlAttr)
      ul.dropdown__list
        each list in lists
          li.dropdown__list-element
            span.dropdown__text=list.text
            .dropdown__calc
              if list.minusTransparent 
                button(class="dropdown__button dropdown__button_transparent" type="button" class="dropdown__button_type_minus" data-target=list.dataTarget data-action="minus")="-"
              else
                button(class="dropdown__button" type="button" class="dropdown__button_type_minus" data-target=list.dataTarget data-action="minus")="-"
              output(class="dropdown__output" data-target=list.dataTarget)=list.output
              if list.plusTransparent
                button(class="dropdown__button dropdown__button_transparent" type="button" class="dropdown__button_type_plus" data-target=list.dataTarget data-action="plus")="+"
              else
                button(class="dropdown__button" type="button" class="dropdown__button_type_plus" data-target=list.dataTarget data-action="plus")="+"
      .dropdown__submit-buttons
        .dropdown__clear-button
          +button({
            type: "text",
            text: "очистить",
            attr: {
              "type": "button",
              "data-target": "clear"
            }
          })
        .dropdown__submit-button
          +button({
            type: "text",
            text: "применить",
            attr: {
              "type": "button",
              "data-target": "submit",
            }
          })