mixin dropdown(settings)
  - const {
  -   inputSettings = {
  -     length: "average",
  -     type: "regular",
  -     attr: { placeholder: "For-change" },
  -     state: "",
  -     jsClass: "js-for-change"  
  -   },
  -   isClosed = false,
  -   main: {
  -     dataType = "for-change",
  -     outputType = "sum"
  -   }
  - } = settings
  - let {
  -   zIndexClass = "",
  -   lists = [
  -     { text: "For Change", dataTarget: "forChange1", output: "0", isMinusTransparent: false, isPlusTransparent: false },
  -     { text: "For Change", dataTarget: "forChange2", output: "0", isMinusTransparent: false, isPlusTransparent: false },
  -     { text: "For Change", dataTarget: "forChange3", output: "0", isMinusTransparent: false, isPlusTransparent: false },
  -   ]
  - } = settings
  - const attr = isClosed ? { "hidden": "hidden" } : {}
  - if (zIndexClass) zIndexClass = `dropdown__control_z-index_${zIndexClass}`
  - if (lists) {
  -   lists.forEach((list) => {
  -     if(list.output == "0") list.isMinusTransparent = true
  -     if(list.output == "10") list.isPlusTransparent = true
  -   })
  - }
  div(class=["dropdown", "js-dropdown"] data-template=dataType, data-output=outputType)
    div.dropdown__input
      +input(inputSettings)
    div(class=["dropdown__control", "js-dropdown__control", z])&attributes(attr)
      ul.dropdown__list
        each list in lists
          - const minusTransparentClass = list.isMinusTransparent ? "dropdown__button_transparent" : ""
          - const plusTransparentClass = list.isPlusTransparent ? "dropdown__button_transparent" : ""
          li.dropdown__list-element
            span.dropdown__text=list.text
            .dropdown__calc
              button(class=["dropdown__button", "dropdown__button_type_minus", minusTransparentClass] type="button"  data-target=list.dataTarget data-action="minus")="-"
              output(class="dropdown__output" data-target=list.dataTarget)=list.output
              button(class=["dropdown__button", "dropdown__button_type_plus" , plusTransparentClass] type="button"  data-target=list.dataTarget data-action="plus")="+"
      .dropdown__submit-buttons
        .dropdown__clear-button
          +button({
            type: "text",
            text: "очистить",
            attrType: "button",
          })
        .dropdown__submit-button
          +button({
            type: "text",
            text: "применить",
            attrType: "button",
          })