div.virtues__statistics-reviews__body
  h2.type-h2= "Впечатления от номера"
  div.virtues__statistics-reviews__text-body
    h1.type-h1.virtues__statistics-reviews__h1= '260'
    h3.type-h3.virtues__statistics-reviews__h3= 'голосов'
      img(src="./img/statistics-reviews__yellow.svg", alt="").virtues__statistics-reviews__yellow
      img(src="./img/statistics-reviews__purple.svg", alt="").virtues__statistics-reviews__purple
      img(src="./img/statistics-reviews__green.svg", alt="").virtues__statistics-reviews__green
  ul.virtues__statistics-reviews__description-body
    li.virtues__statistics-reviews__description-line.line-yellow.type-simple-text= "Великолепно"
    li.virtues__statistics-reviews__description-line.line-green.type-simple-text= "Хорошо"
    li.virtues__statistics-reviews__description-line.line-purple.type-simple-text= "Удовлетворительно"
    li.virtues__statistics-reviews__description-line.line-black.type-simple-text= "Разочарован"