mixin dropdown-guests-closed(hint, appointment, state)
  if state !=null
    div.dropdown-guests-body 
      p.type-h3= appointment
      div
        label.dropdown-quests(class= state)= hint
        button.dropdown-quests-button
  else if appointment != null
    div.dropdown-guests-body 
      p.type-h3= appointment
      div
        label.dropdown-quests= hint
        button.dropdown-quests-button
  else
    div.dropdown-guests-body 
      div
        label.dropdown-quests= hint
        button.dropdown-quests-button