mixin dropdown-guests(buttonClass, divInput, labelclass, hint, appointment, state)
  if state !=null
    h3.margin-bottom-5px.type-h3(class= state)= appointment
    div.dropdown-guests-field-body(class= divInput)
      label.type-simple-text(class = labelclass)= hint
      button.dropdown-rooms-button-arrow(class= buttonClass type="button")
  else if appointment != null
    h3.margin-bottom-5px.type-h3= appointment
    div.dropdown-guests-field-body(class= divInput)
      label.type-simple-text(class = labelclass)= hint
      button.dropdown-rooms-button-arrow(class= buttonClass type="button")
  else
    div.dropdown-guests-field-body(class= divInput)
      label.type-simple-text(class = labelclass)= hint
      button.dropdown-rooms-button-arrow(class= buttonClass type="button")