mixin final-booking(settings)
  - const {
  -   action = "./for-change",
  -   roomInformation: {
  -     number = "000",
  -     price = "000",
  -     type = false
  -   },
  -   period: {
  -     from: {
  -       title: fromTitle = "For change",
  -       value: fromValue = "ДД.ММ.ГГГГ",
  -     },
  -     to: {
  -       title: toTitle = "For change",
  -       value: toValue = "ДД.ММ.ГГГГ",
  -     },
  -     datepicker = {},
  -   },
  -   guests: {
  -     title: { text: guestsTitle = "For change" },
  -     inputValue: guestsInputValue = "For Change",
  -     lists: guestsLists = [
  -       {text: "For change 1", dataTarget: "for-change-1", output: "0"},
  -       {text: "For change 2", dataTarget: "for-change-2", output: "0"},
  -       {text: "For change 3", dataTarget: "for-change-3", output: "0"}
  -     ]
  -   },
  -   serviceList = [
  -     {
  -       title: "For change 1",
  -       price: "111",
  -       isSign: false,
  -       type: ""
  -     },
  -     {
  -       title: "For change 2",
  -       price: "222",
  -       isSign: true,
  -       type: ""
  -     },
  -     {
  -       title: "Итого",
  -       price: "333",
  -       type: "total"
  -     }
  -   ],
  -   confirmButtonText = "For Change"
  - } = settings
  form(class="final-booking" action=action)
    .final-booking__room-information
      +room-information({
        number: number,
        price: price,
        type: type
      })
    .final-booking__period
      +datepicker({
        inputType: 'double',
        inputSettings: {
          from: {
            title: {text: fromTitle},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: fromValue,
                readonly: "readonly"
              },
              length: "short",
              type: "dropdown",
              jsClass: "js-input__field_from"
            }
          },
          to: {
            title: {text: toTitle},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: toValue,
                readonly: "readonly"
              },
              length: "short",
              type: "dropdown",
              jsClass: "js-input__field_to"
            }
          }
        },
        main: datepicker,
        isCalendarClosed: true
      })
    .final-booking__guests
      +dropdown({
        inputSettings: {
          title: { text: guestsTitle },
          input: {
            attr: {
              type: "text",
              placeholder: "Text",
              value: guestsInputValue,
              readonly: "readonly",
            },
            length: "long",
            type: "dropdown",
            jsClass: "js-input__field"
          }
        },
        isClosed: true,
        lists: guestsLists,
        main: {
          dataType: "guests",
          outputType: "sum"
        }
      })
    ul.final-booking__service-list
      each list in serviceList
        - const {
        -   type: listType = 'regular',
        -   isSign: isListSign = false,
        - } = list
        if listType == "total"
          li(class=["final-booking__service-total", "final-booking__service_text_bold"])
            div(class=["final-booking__service-wrapper", "final-booking__service-wrapper_text_bold"])
              span(class=["final-booking__service-title", "final-booking__service-title_text_bold"])=list.title
            span(class=["final-booking__service-price", "final-booking__service-price_text_bold"])=list.price
        else 
          li(class="final-booking__service")
            .final-booking__service-wrapper
              span(class="final-booking__service-title")=list.title
              if isListSign === true
                span.final-booking__service-sign="i"
            span.final-booking__service-price=list.price
    .final-booking__confirm-button
      +button({
        type: "confirm",
        text: confirmButtonText,
        attrType: "submit",
      })