mixin toggle(settings)
  - const {
  -   controller: {
  -     attr = { type: "checkbox" }
  -   },
  -   text: {
  -     text = "For change",
  -     richText = false,
  -   }
  - } = settings
  - let {
  -   controller: {
  -     type = "checkbox",
  -   },
  -   text: {
  -     length = false
  -   }
  - } = settings
  - let mimicType = false
  - if (type) {
  -   mimicType = `toggle__mimic_type_${type}`
  -   type = `toggle__controller_type_${type}`
  - }
  - if (length) length = `toggle__text_length_${length}`
  - const isNotLikeWithRich = mimicType !== "toggle__mimic_type_like" && richText
  - const isNotLike = mimicType !== "toggle__mimic_type_like"
  .toggle
    label(class="toggle__wrapper")
      input(class=["toggle__controller", type])&attributes(attr)
      span(class=["toggle__mimic", mimicType])
        if mimicType === "toggle__mimic_type_like"
          span(class=["toggle__text", length])= text
      if isNotLikeWithRich
        span.toggle__text-wrapper
          span(class="toggle__text-title")= richText
          span(class=["toggle__text", length])= text
      else if isNotLike
        span.toggle__text-wrapper
          span(class=["toggle__text", length])= text