mixin toggle(settings)
  - let {
  -   controller: {
  -     type: controllerType = "checkbox",
  -     attr: controllerAttr = { type: "checkbox" }
  -   },
  -   mimicType = false,
  -   text: {
  -     text: textContent = "For change",
  -     richText: richText = false,
  -     length: textLength = ""
  -   }
  - } = settings
  - if (controllerType) {
  -   mimicType = `toggle__mimic_type_${controllerType}`
  -   controllerType = `toggle__controller_type_${controllerType}`
  - }
  - if (textLength) textLength = `toggle__text_length_${textLength}`
  .toggle
    label(class="toggle__wrapper")
      input(class = "toggle__controller" class=controllerType)&attributes(controllerAttr)
      span(class="toggle__mimic" class=mimicType)
        if mimicType === "toggle__mimic_type_like"
          p(class="toggle__text" class=textLength)= textContent
      if mimicType !== "toggle__mimic_type_like"
        .toggle__text-wrapper
          if richText
            p(class="toggle__text-title", class=textLength)= richText
          p(class="toggle__text", class=textLength)= textContent