mixin radio-gender(title)
  if title != null
    h3.margin16.type-h3= title
    label.gender-label.type-simple-text
      input.gender-radio-button(type="radio" name="gender" checked)
      span.radio-button-imitation
      p.gender-text="Мужчина"
    label.gender-label.type-simple-text
      input.gender-radio-button(type="radio" class="female" name="gender")
      span.radio-button-imitation
      p.gender-text="Женщина"
  else
    label.gender-label.type-simple-text
      input.gender-radio-button(type="radio" name="gender" checked)
      span.radio-button-imitation
      p.gender-text="Мужчина"
    label.gender-label.type-simple-text
      input.gender-radio-button(type="radio" class="female" name="gender")
      span.radio-button-imitation
      p.gender-text="Женщина"