mixin list(settings)
  - let {
  -   title: {
  -     jsClass: titleJs = "js-for-change",
  -     text: titleText = "For Change",
  -     type: titleType = false,
  -     bullet: titleBullet = false,
  -     margin: titleMargin = false,
  -     teg: titleTeg = "p"
  -   },
  -   container: {
  -     jsClass: containerJs = "js-for-change",
  -     attr: containerAttr = false
  -   },
  -   listType = false,
  -   listCheckbox = [
  -     {
  -       type: "checkbox",
  -       attr: {
  -         "type": "checkbox",
  -         "hidden": "hidden",
  -         "checked": "checked"
  -       },
  -       text: "For change",
  -       richText: false,
  -       listType: ""
  -     },
  -     {
  -       type: "checkbox",
  -       attr: {
  -       "type": "checkbox",
  -       "hidden": "hidden"
  -       },
  -       text: "For change 2",
  -       richText: false,
  -       listType: ""
  -     }
  -   ],
  -   textList = false
  - } = settings
  - if(titleBullet) titleBullet = "list__title_bullet"
  - if(titleMargin) titleMargin = "list__title_with-margin"
  .list
    div(class="list__title", class=titleMargin, class=titleBullet)
      +title({
        text: titleText,
        type: titleType,
        jsClass: titleJs,
        teg: titleTeg
      })
    ul(class="list__container" class=containerJs)&attributes(containerAttr)
      if textList 
        each val in textList
          li(class="list__item list__item_bullet")
            p(class="list__text")=val
      else
        each val in listCheckbox
          li(class="list__item" class=val.listType)
            +toggle({
              controller: {
                type: val.type,
                attr: val.attr
              },
              text: {
                text: val.text,
                richText: val.richText
              }
            })