mixin list(settings)
  - let {
  -   title: {
  -     jsClass: titleJs = "js-for-change",
  -     text: titleText = "For Change",
  -     type: titleType = false,
  -     bullet: titleBullet = false,
  -     margin: titleMargin = false,
  -     teg: titleTeg = "p"
  -   },
  -   container: {
  -     jsClass: containerJs = "js-for-change",
  -     attr: containerAttr = false
  -   },
  -   listType = false,
  -   listCheckbox = [
  -     {
  -       controller: {
  -         type: "checkbox",
  -         attr: {
  -           "type": "checkbox",
  -           "hidden": "hidden"
  -         },
  -       },
  -       text: {
  -          text: "For change 2",
  -          richText: false,
  -       }
  -     },
  -     {
  -       controller: {
  -         type: "checkbox",
  -         attr: {
  -           "type": "checkbox",
  -           "hidden": "hidden"
  -         },
  -       },
  -       text: {
  -          text: "For change 2",
  -          richText: false,
  -       }
  -     }
  -   ],
  -   textList = false
  - } = settings
  - if(titleBullet) titleBullet = "list__title_with-bullet"
  - if(titleMargin) titleMargin = "list__title_with-margin"
  .list
    div(class="list__title", class=titleMargin, class=titleBullet)
      +title({
        text: titleText,
        type: titleType,
        jsClass: titleJs,
        teg: titleTeg
      })
    ul(class="list__container" class=containerJs)&attributes(containerAttr)
      if textList 
        each val in textList
          li(class="list__item list__item_with-bullet")
            p(class="list__text")=val
      else
        each val in listCheckbox
          li(class="list__item" class=val.listType)
            +toggle(val)